<div class="for-forms" *ngIf="suceesfullyUploaded == false">
  <mat-card mat-elevation-z12 class="formcolor">
    <form [formGroup]="addSongs" class="formblock">
      <mat-form-field appearance="legacy" class="formblock">
        <mat-label>Enter song name..</mat-label>
        <input matInput placeholder="song.." formControlName="song" />
        <mat-icon matSuffix>audiotrack</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="formblock">
        <mat-label>Enter Artist's name..</mat-label>
        <input matInput placeholder="artist.." formControlName="artist" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="type"
      >
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let expression of expressions"
              [value]="expression"
            >
              {{ expression }}
            </mat-radio-button>
          </div>
        </div>
      </mat-radio-group>

      <br /><br />
      <div class="flex">
        <input
          type="file"
          (change)="onFileChangeforSongs($event)"
          placeholder="artist.."
          class="formblock"
        />

        <button mat-raised-button (click)="uploadSongs()">
          <mat-icon>cloud_upload</mat-icon>
          .mp3 file
        </button>
      </div>

      <br />
      <div *ngIf="percentage | async as pct">
        <progress [value]="pct" max="100"></progress>
        {{ pct | number }}%
      </div>

      <h3>Upload thumbnail for the given song</h3>
      <div class="flex">
        <input
          type="file"
          (change)="onFileChange($event)"
          placeholder="artist.."
          class="formblock"
        />

        <button mat-raised-button (click)="uploadImage()">
          <mat-icon>cloud_upload</mat-icon>
          .jpg file
        </button>
      </div>
      <br />
      <div *ngIf="percentage_image | async as pct_img">
        <progress [value]="pct_img" max="100"></progress>
        {{ pct_img | number }}%
      </div>

      <button
        mat-raised-button
        color="primary"
        class="login-button"
        type="submit"
        class="formblock"
        (click)="submitForm()"
      >
        ADD
      </button>
    </form>
  </mat-card>
</div>
<div *ngIf="isloading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="for-forms" *ngIf="suceesfullyUploaded">
  <mat-card mat-elevation-z12>
    <mat-card-title>ADD MORE SONGS</mat-card-title>

    <div>
      <div class="flex_card">
        <button mat-fab color="primary" class="flex_card" (click)="addsongs()">
          <mat-icon>add_to_photos</mat-icon>
        </button>
      </div>
      <h2 class="flex_card">OR</h2>
      <h1 class="flex_card">GO BACK</h1>
      <div class="flex_card">
        <button
          mat-flat-button
          color="primary"
          class="button_add"
          (click)="goback()"
        >
          Back
        </button>
      </div>
    </div>
  </mat-card>
</div>

<!-- showing songs added to the database  -->
<div class="for-forms_1 cardfont" *ngIf="showaddedSongs">
  <h1>RECENTLY ADDED SONGS</h1>
</div>
<div class="row" *ngIf="showaddedSongs">
  <!-- <div > -->
  <div *ngFor="let song of item" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <mat-card mat-elevation-z12 class="card-color">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img [src]="song.imageurl" />
        </div>
        <div class="card-content col-xs-6 col-sm-12 col-md-6 col-lg-6">
          <p>Name:{{ song.song }}</p>
          <p>Artist:{{ song.artist }}</p>
          <p>Date added:{{ song.date }}</p>
          <p>Time:{{ song.time }}</p>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- </div> -->
</div>
<div class="for-forms_1 cardfont" *ngIf="showaddedSongs">
  <h1>LIST OF SONGS</h1>
</div>

<div class="row center-xs center-sm center-md center-lg" *ngIf="showaddedSongs">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <mat-card mat-elevation-z12 class="card-color">
      <mat-card-title> All Songs</mat-card-title>
      <ul>
        <div class="row center-xs center-sm center-md center-lg">
          <div *ngFor="let songs of song">
            <li>
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cardfont fontSize"
              >
                <p>
                  Name:&nbsp;{{ songs.song }}&nbsp;&nbsp;&nbsp; Artist:&nbsp;{{
                    songs.artist
                  }}
                </p>
              </div>
            </li>
          </div>
        </div>
      </ul>
    </mat-card>
  </div>
</div>

<!-- accept=".mp3"  -->
